@font-face {
  font-family: 'Messer Condensed';
  src: local('Messer Condensed'), url(./fonts/MesserV2.1-Condensed.woff) format('woff');
}

@font-face {
  font-family: 'Suisse Intl Book';
  src: local('Suisse Intl Book'), url(./fonts/SuisseIntl-Book.woff) format('woff');
}

:root {
  --header1Font: "Messer Condensed", serif;
  --header2Font: "Messer Condensed", serif;
  --header3Font: "Messer Condensed", serif;
  --paragraphFont: "Suisse Intl Book", sans-serif;
  --baseFontSize: 16px;
  --primaryColor: #000000;
  --primaryHighlightColor: #000000;
  --yellowHighlightColor: #000000;
  --yellowColor:#000000;
  --yellowBorderColor: #000000;
  --greenColor: #000000;
  --blueColor: #000000;
  --whiteColor: #fff;
  --grey1Color: #ebebeb;
  --grey2Color: #c6c6c6;
  --grey3Color: #787878;
  --grey4Color: #525252;
  --grey5Color: #3a3a3a;
  --blackColor: #000000;
  --header1Color: #000000;
  --header1Size: 2.5rem;
  --header2Color: #000000;
  --header2Size: 2rem;
  --header3Color: #000000;
  --header3Size: 1.5rem;
  --backgroundColor: #e5e5e5;
  --headerColor: #edff38; 
  --footerColor: #edff38;
  --backgroundGradient: #000000;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor);
  color: var(--grey5Color);
  line-height: 1.5rem;
  font-family: var(--paragraphFont);
  position: relative;
}

body {
  margin: 0;
}

h1 {
  font-size: var(--header1Size);
  font-weight: normal;
  color: var(--header1Color);
  font-family: var(--header1Font);
  line-height: 3rem;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  text-transform: uppercase;
}

h2 {
  font-size: var(--header2Size);
  font-weight: normal;
  color: var(--header2Color);
  font-family: var(--header2Font);
  line-height: 2.5rem;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  text-transform: uppercase;
}

h3 {
  font-size: var(--header3Size);
  font-weight: normal;
  color: var(--header3Color);
  font-family: var(--header3Font);
  line-height: 2rem;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  text-transform: uppercase;  
}

p {
  font-family: var(--paragraphFont);
  font-weight: normal;
  line-height: 2.1rem;
  color: var(--blackColor);

  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

a {
  color: var(--primaryColor);
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: var(--whiteColor);
  }
  &:active {
    color: var(--primaryColor);
  }
  &:visited {
    color: var(--primaryColor);
  }
}

.top-margin-set {
  margin-top: 1rem !important;
}

.bottom-margin-set {
  margin-bottom: 1rem !important;
}

.right-margin-set {
  margin-right: 1em !important;
}

.container-spacing-set {
  padding: 1.5rem;
  margin: 1.5rem;
}
.small-container-spacing-set {
  padding: 1.5rem;
}

$information-phone: "only screen and (max-width : 464px)";
$information-pad: "only screen and (max-width : 1200px) and (min-width: 464px)";
@media #{$information-phone} {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}
